<h1>Convert <%= @currency %></h1>
<a href="/">Back</a>
<ul>
  <% @rates.keys.sort.each do |to_currency| %>
    <% next if to_currency == @currency %>
    <li>
      <a href="/<%= @currency %>/<%= to_currency %>">
        Convert 1 <%= @currency %> to <%= to_currency %>
      </a>
    </li>
  <% end %>
</ul>
